/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.container{
    padding: 33px;
}
.section-title:hover{
    color:mediumblue;
}
.section-title{
    font-size: 24px;
   margin-bottom: 60px;
}
.start-influencer{
    
    width: 382px;
    height: 270px;
    
}
/* .start-influencer:hover{
    border: 3px solid blue;
}
.top-influencer-img:hover{
    border: 3px solid blue;
} */
.top-influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.top-influencer-img img{
    margin-right: 10px;
    width: 350px;
    height: 400px;
}

.prebook-now{
    color:#FFFFFF;
    width: 196px;
    height: 44px;
    background-color:#E72C6F;
   text-align: center;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 500;
}
#prebook-id{
    margin-top: 100px;
    color: white;
    text-decoration: none;
    width: 196px;
    height: 44px;
    background-color: #E72C6F;
    
}

/*-------------------------------
 style population collections
------------------------------- */
.section-title-populer{
    text-align: center;
    font-size: 28px;
    color: #3A3A3A;
}
.populer-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.collections{
   padding: 25px;
    width: 329px;
    height: 476px;
    box-shadow: 8px 10px 30px 3px gray;
}
.collections .collection img{
    width: 300px;
    height: 256px;
}
.collections-title .name-bar{
    font-size: 28px;
}
.collections-title .amount{
    font-size: 24px;
}
.collections-title .collection-rating .info{
    color: lightslategray;
    font-size: 14px;
}
.fa-star{
    color: goldenrod;
}
.colection-rating span{
    margin-left: 10px;
}
.see-more{
    margin-top: 20px;
    margin-right: 200px;
    font-size: 24px;
    text-align: right;
    text-decoration: none;
    color: #E02C6D;
}
/*-------- 
see more term
----------- */
#see-more-id{
    text-decoration: none;
    color: #E02C6D;
}
/* ---------
footer 
-----------*/
.footer{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #0A0826;
  margin: 0;
}
.footer div h1{
    margin-right: 3px;
}
.footer-font-awesome {
 padding:20px ;
}
.footer-font-awesome span{
    margin-right: 20px;
    font-size: 18px;
}
/* -------------------
media quaries
--------------------- */

/* mobile devices */

@media only screen and (max-width:688px) {

    .container{
        width: 100%;
    }
    .top-influencer{
        grid-template-columns: repeat(1,1fr);
        width: 350px;
    }
    
}
@media only screen and (max-width:688px) {
 .container{
     grid-template-columns: repeat(1,1fr);
     width: 370px;
 }   

 .last-title{
    grid-template-columns: repeat(1,1fr);
    width: 370px;
 }
 .last-part div{
    grid-template-columns: repeat(1,1fr);
     width: 200px;
 }
}
/* mobile devices end */
-----------------------------------------
/* extra partt */
.last-image img{
    width: 200px;
    height: 250px;
}
.last-title{
    width: 300px;
    font-size: 24px;
}
.last-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
}
.last-part div{
    background-color:#27254b ;
    width: 200px;
    color: cornsilk;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

